{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "camelcase": 1,
    "comma-dangle": 1,
    "consistent-return": 0,
    "func-names": 0,
    "jsx-a11y/img-has-alt": 1,
    "jsx-a11y/img-redundant-alt": 1,
    "jsx-quotes": [2, "prefer-single"],
    "object-curly-spacing": 2,
    "new-cap": 0,
    "no-case-declarations": 0,
    "no-confusing-arrow": 0,
    "no-fallthrough": 0,
    "no-nested-ternary": 1,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": [1, {"allowAfterThis": true}],
    "no-useless-escape": 1,
    "padded-blocks": 0,
    "prefer-rest-params": 0,
    "prefer-template": 1,
    "radix": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-boolean-value": 0,
    "react/prop-types": 1,
    "react/no-did-mount-set-state": 1,
    "react/sort-comp": 0,
    "spaced-comment": 0,
    "strict": 0,
  },
  "globals": {
    "describe": true,
    "it": true,
    "assert": true,
    "before": true,
    "jsdom": true
  }
}
